<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">

  <mat-toolbar class="example-toolbar">

    <app-breadcrumb></app-breadcrumb>

    <div class="header-buttons">

      <div class="logo">
        <img routerLink="/" src="../../assets/C.N.21.svg">
      </div>

      <ng-template #anonymousUser>
        <button mat-button routerLinkActive="mat-primary" routerLink="/login" class="header-menu">Login</button>
        <button mat-button routerLinkActive="mat-primary" routerLink="/registration" class="header-menu">Join</button>
      </ng-template>

      <div *ngIf="appUser; else anonymousUser">

        <div class="user-email">
          <button mat-button [matMenuTriggerFor]="menu" routerLinkActive="mat-accent" class="user">
            {{appUser.email}}
          </button>
          <button mat-button (click)="onLogout()" routerLinkActive="mat-accent">Logout</button>
        </div>

        <mat-menu #menu="matMenu">
          <button mat-menu-item>My orders</button>
          <ng-container *ngIf="appUser.isAdmin">
            <button routerLink="/admin/orders" mat-menu-item>Manage Orders</button>
            <button
              [matMenuTriggerFor]="manage_products"
              routerLink="/admin/products"
              mat-menu-item
            >
              Manage Products
            </button>
          </ng-container>
        </mat-menu>

        <mat-menu #manage_products="matMenu">
          <button routerLink="/admin/products/new" mat-menu-item>New</button>
        </mat-menu>

      </div>


      <button class="cart" routerLink="/shopping-cart" mat-icon-button *ngIf="cart$ | async as cart">
        <mat-icon matBadgeColor="warn" [matBadge]="cart.totalItemsCount">add_shopping_cart</mat-icon>
      </button>

    </div>

    <button class="menu" mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

  </mat-toolbar>

  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"
    >
      <mat-nav-list>
        <a mat-list-item routerLinkActive="mat-list-item-content" routerLink="/products">shop</a>
        <a mat-list-item>about us</a>
        <a mat-list-item>contact us</a>
        <a mat-list-item>customer care</a>
        <hr>
        <a
          mat-list-item
          [routerLink]="['/products/']"
          *ngFor="let c of categories$ | async"
          [queryParams]="{category: c.id}"
          routerLinkActive="mat-list-item-content"
        >
          {{c.name}}
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

