.spacer {
  flex: 1 1 auto;
}

.tool {
  height: 100px;
}

mat-toolbar {
  color: white;
  background-color: black;
  position: fixed;
  z-index: 9999;
  box-shadow: 0 0 55px rgba(0, 0, 0, 0.5);
  height: 70px;
}

img {
  width: 150px;
}

.navigate-header {

  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;

  .logo {
  }

  button {
    font-size: 14px;
    cursor: pointer;
  }
}



