<mat-toolbar>
  <mat-toolbar-row class="tool">

    <div class="navigate-header">

      <div class="logo">
         <img routerLink="/" src="../../assets/C.N.21white.svg">
       </div>

      <button mat-button routerLinkActive="mat-primary" routerLink="/products">Shop</button>
      <button mat-button routerLinkActive="mat-primary">About</button>
      <button mat-button routerLinkActive="mat-primary">Contact</button>

      <ng-template #anonymousUser>
        <button mat-button routerLinkActive="mat-primary" routerLink="/login" class="header-menu">Login</button>
        <button mat-button routerLinkActive="mat-primary" routerLink="/registration" class="header-menu">Join</button>
      </ng-template>

      <div *ngIf="appUser; else anonymousUser">

        <div class="user-email">
          <button mat-button [matMenuTriggerFor]="menu" routerLinkActive="mat-accent" class="user">{{appUser.email}}
          </button>
          <button mat-button (click)="onLogout()" routerLinkActive="mat-accent">Logout</button>
        </div>

        <mat-menu #menu="matMenu">
          <button mat-menu-item>My orders</button>
          <ng-container *ngIf="appUser.isAdmin">
            <button routerLink="/admin/orders" mat-menu-item>Manage Orders</button>
            <button
              [matMenuTriggerFor]="manage_products"
              routerLink="/admin/products"
              mat-menu-item
            >
              Manage Products
            </button>
          </ng-container>
        </mat-menu>

        <mat-menu #manage_products="matMenu">
          <button routerLink="/admin/products/new" mat-menu-item>New</button>
        </mat-menu>

      </div>

      <button class="cart" routerLink="/shopping-cart" mat-icon-button *ngIf="cart$ | async as cart">
        <mat-icon [matBadge]="cart.totalItemsCount" matBadgeColor="primary">add_shopping_cart</mat-icon>
      </button>

    </div>
  </mat-toolbar-row>
</mat-toolbar>
