.spacer {
  flex: 1 1 auto;
}

.tool {
  height: 100px;
}

mat-toolbar {
  color: white;
  background-color: black;
  position: fixed;
  z-index: 9999;
  box-shadow: 0 0 55px rgba(0, 0, 0, 0.5);
  height: 70px;

  .navigate-header {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  button {
    font-size: 14px;
    cursor: pointer;
  }

  .header-buttons {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 98%;
  }
}

img {
  width: 150px;
}




