.spacer {
  flex: 1 1 auto;
}

.user {
  width: 200px;
}

.logo {
  cursor: pointer;
}

.tool {
  height: 100px;
}

mat-toolbar {
  color: white;
  background-color: black;
  position: fixed;
  z-index: 9999;
  box-shadow: 0 0 55px rgba(0,0,0,0.5);
  height: 70px;
}

img {
  width: 150px;
}

.navigate-header {

  width: 50%;
  display: flex;
  justify-content: center;

  button {
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
  }
}

@media (max-width: 690px) {
  .tool {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 180px;
  }

  mat-toolbar {
    height: 170px;
  }
}



