.carousel {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;

  .change {
    margin-bottom: 46em;
    color: #d6cab9;
    font-style: italic;
    display: flex;
    width: 100%;
  }
}

.tmb img {
  width: 600px;
  cursor: pointer;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.5);
  margin: -400px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .carousel {
    margin: 0;

    .change {
      margin: 0;
      color: #d6cab9;
      font-style: italic;
      width: 42vh;
      position: relative;
      top: 30px;
    }
  }

  .tmb img {
    width: 21em;
    margin: -358px;
    position: relative;
    top: 100px;
  }
}

