<div *ngIf="cart$ | async as cart" class="container">
  <div class="info">
    <div class="title">{{product.title}}</div>
    <div>EUR {{product.price}}</div>
    <div
      (click)="addToCart()"
      *ngIf="cart.getQuantity(product) === 0; else updateQuantity"
    >
      <strong>BUY</strong>
    </div>
    <ng-template #updateQuantity>
      <app-product-quantity
        class="quantity"
        [product]="product"
        [shoppingCart]="cart">
      </app-product-quantity>
    </ng-template>
  </div>
  <app-carousel
    [images]="images"
    (change)="onChange($event)">
  </app-carousel>
</div>

