.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  align-items: center;

  img {
    width: 700px;
  }

  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 60px;

    .quantity {
      width: 300px;
    }

    .price {
      font-size: 20px;
    }

    .add-cart {
      font-size: 60px;
      font-style: italic;
      cursor: pointer;
      animation: glitch 1s steps(100) infinite;
    }
  }
}

@media (max-width: 1300px) {
  .container {
    display: flex;
    justify-content: center;

    img {
      max-width: 500px;
    }

    .description {
      font-size: 40px;
    }
  }
}

@media (max-width: 414px) {
  .container {

    img {
      max-width: 300px;
    }

    .description {
      font-size: 30px;
    }
  }
}


