<div *ngIf="cart$ | async as cart" class="container">
  <div routerLink="/products" class="back">
    <span>
      <mat-icon>keyboard_backspace</mat-icon>
    </span>
    GO BACK
  </div>
  <div class="description">
    <div>{{product.title}}</div>
    <div class="price">EUR {{product.price}}</div>
    <div
      (click)="addToCart()"
      class="add-cart"
      *ngIf="cart.getQuantity(product) === 0; else updateQuantity"
    >
      <strong>BUY</strong>
    </div>
    <ng-template #updateQuantity>
      <app-product-quantity
        class="quantity"
        [product]="product"
        [shoppingCart]="cart">
      </app-product-quantity>
    </ng-template>
  </div>
  <div *ngIf="isLoaded" class="image">
    <img [src]="product.image">
  </div>
</div>
