<div *ngIf="cart$ | async as cart" class="container">
  <div class="info">
    <div class="pre-order">{{product.preOrder}}</div>
    <div class="title">{{product.title}}</div>
    <div class="price">EUR {{product.price}}</div>
    <mat-form-field>
      <mat-select [formControl]="size" placeholder="Favorite food">
        <mat-option *ngFor="let p of product.availableSizes" [value]="p">
          {{p}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div
      class="buy"
      (click)="addToCart()"
    >
      <strong>BUY</strong>
    </div>
    <div class="description">{{product.description}}</div>
  </div>
  <app-carousel
    [images]="images"
    (change)="onChange($event)">
  </app-carousel>
</div>
