<div *ngIf="shoppingCart" class="flex">
  <h2>{{product.title}}</h2>
  <a [routerLink]="['/product-item/', product.id]">
    <img [src]=product.image/>
  </a>
  <p>EUR {{product.price}}</p>
  <button
    (click)="addToCart()"
    mat-raised-button
    color="warn"
    *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantity"
  >
    Add to cart
  </button>
  <ng-template #updateQuantity>
    <app-product-quantity [product]="product" [shoppingCart]="shoppingCart"></app-product-quantity>
  </ng-template>
</div>
