.flex {
  padding: 10px;
}

div {
  text-align: center;
  background: transparent;
  border-radius: 2px;
  padding: 5em;
}

img {
  width: 350px;
}

h1 {
  text-align: center;
}

.mat-raised-button {
  background-color: black;
}

@media (max-width: 516px) {
  div {
    padding: 0;
  }
}
