.flex {
  padding: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
}

div {
  text-align: center;
  background: transparent;
  padding: 5em;
  border: 1px solid;
  margin: 20px;
}

img {
  width: 350px;
}

h1 {
  text-align: center;
}

.mat-raised-button {
  background-color: black;
}

@media (max-width: 516px) {
  div {
    padding: 0;
  }
}
