<div class="container">
  <div class="content">
    <h3>About Us</h3>
    С.N.21 - self-identification, a brand that connects high and street fashion into a single whole.
    A
    kind of hybrid, which is a mixture of street culture and classical fashion.

    <p>Largely inspired by youth and street culture C.N.21 calls this 'Street Tailoring'.</p>

    <p>His avant design and classicism will no doubt continue to be a tour de force in the evolution of
      men
      and womenswear.
      All products are based in a concept that adapts from season to season. Manufacturing is based
      with a
      core value of the brand to be made from the best and particular opinion regarding fabric, fit
      and
      fabrication.
    </p>

    The result is to be a young brand embracing a sophisticated manner.
  </div>
</div>
