<form style="margin-top: 200px" method="post" ngNoForm action="https://wl.walletone.com/checkout/checkout/Index">
  <input type="hidden" name="WMI_MERCHANT_ID" value="150503285577"/>
  <input type="hidden" name="WMI_PAYMENT_AMOUNT" value="200"/>
  <input type="hidden" name="WMI_CURRENCY_ID" value="978"/>
  <input type="hidden" name="WMI_DESCRIPTION" value="payment"/>
  <input type="hidden" name="WMI_SUCCESS_URL" value="https://c-n-21.com/"/>
  <input type="hidden" name="WMI_FAIL_URL" value="https://myshop.ru/w1/fail.php"/>
  <button type="submit">Submit</button>
</form>
