img {
  width: 300px;
}

.but {
  display: flex;
  justify-content: flex-start;

  button {
    margin: 5px;
  }
}

.flex {
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;

  mat-icon {
    cursor: pointer;
  }
}

.total {
  display: flex;
  justify-content: flex-start;
}

.cart-product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;

  mat-icon {
    cursor: pointer;
  }
}

.mat-raised-button {
  background-color: black;
}

.no-tem {
  display: flex;
  height: 50em;
  justify-content: center;
  align-items: center;
}
