img {
  width: 300px;
}

.flex {
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;

  mat-icon {
    cursor: pointer;
  }
}

.total {
  display: flex;
  justify-content: flex-end;
}

.test {
  display: flex;
}
