.cart {
  padding-top: 70px;

  .total {
    display: flex;
    justify-content: center;
    cursor: pointer;
  }

  .cart-product {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-top: 1px solid;

    img {
      width: 300px;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
      cursor: pointer;
    }
  }

  .price {
    display: flex;
    justify-content: space-between;
    align-items: center;

    mat-icon {
      cursor: pointer;
    }
  }

  .cart-buttons {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid;

    button {
      margin: 5px;
      border-radius: 0;
    }
  }
}

.flex {
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;

  mat-icon {
    cursor: pointer;
  }
}

.no-tem {
  display: flex;
  height: 50em;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h2 {
    font-size: 15px;
  }

  button {
    margin: 5px;
    border-radius: 0;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .cart {
    padding-top: 30px;
  }
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  .cart {
    padding-top: 30px;
  }
}

