<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Cart</ng-template>
      <ng-container *ngIf="cart$ | async as cart">
        <div *ngFor="let item of cart.items">
          <h3>{{item.product.title}}</h3>
          <div class="img">
            <img src="../../assets/suit.jpg" alt="">
          </div>
          <!--<div class="flex">-->
            <!--<mat-icon>navigate_before</mat-icon>-->
            <app-product-quantity
              class="flex"
              [product]="item.product"
              [shoppingCart]="cart">
            </app-product-quantity>
            <!--<mat-icon>navigate_next</mat-icon>-->
            <div class="price">
              Total: EUR {{item.totalPrice}}
            </div>
          <!--</div>-->
        </div>
        <hr>
        <strong>
          <div class="total">Merchandise Total: EUR {{cart.totalPrice}}</div>
        </strong>
        <strong>
          <div class="total">You have {{cart.totalItemsCount}} items in your cart</div>
        </strong>
      </ng-container>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Order</ng-template>
      <mat-form-field>
        <input matInput placeholder="Address" formControlName="secondCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Payment</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
