<div class="card-order">
  <mat-card *ngFor="let o of orders$ | async" class="example-card">
    <mat-card-header>
      <mat-card-title>{{o.shipping.name}}</mat-card-title>
      <mat-card-subtitle>{{o.dateCreated}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Address: <strong>{{o.shipping.address}}</strong></p>
      <p>City: <strong>{{o.shipping.city}}</strong></p>
      <p>Phone: <strong>{{o.shipping.mobile}}</strong></p>
      <p>Delivery Way: <strong>{{o.shipping.delivery}}</strong></p>
    </mat-card-content>
    <hr>
    <button (click)="openBottomSheet()" mat-raised-button>Show more</button>
  </mat-card>
</div>
