<div class="card-order">
  <mat-card *ngFor="let o of orders$ | async" class="example-card">
    <mat-card-header>
      <mat-card-title>{{o.shipping.name}}</mat-card-title>
      <mat-card-subtitle>{{o.dateCreated}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Address: <strong>{{o.shipping.address}}</strong></p>
      <p>City: <strong>{{o.shipping.city}}</strong></p>
      <p>Phone: <strong>{{o.shipping.mobile}}</strong></p>
      <p>Delivery Way: <strong>{{o.shipping.delivery}}</strong></p>
    </mat-card-content>
    <hr>
    <mat-card-content *ngFor="let p of o.items">
      <p>Product: <strong>{{p.product.title}}</strong></p>
      <p>Quantity: <strong>{{p.quantity}}</strong></p>
      <p>Total price: <strong>{{p.totalPrice}}</strong></p>
    </mat-card-content>
  </mat-card>
</div>


