<div>
  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
    <div fxFlex="50%">
      <img mat-card-image class="img" src="../../assets/pants.jpg">
    </div>
    <div fxFlex="50%">
      <img mat-card-image class="img" src="../../assets/pants.jpg">
    </div>
    <div fxFlex="50%">
      <img mat-card-image class="img" src="../../assets/pants.jpg">
    </div>
    <div fxFlex="50%">
      <img mat-card-image class="img" src="../../assets/pants.jpg">
    </div>
  </div>
  <div class="container" style="position: relative; bottom: 3px" fxLayout="row" fxLayout.xs="column"
       fxLayoutAlign="center">
    <div fxFlex="50%">
      <img mat-card-image class="img" src="../../assets/suit.jpg">
    </div>
    <div fxFlex="50%">
      <img mat-card-image class="img" src="../../assets/suit.jpg">
    </div>
    <div fxFlex="50%">
      <img mat-card-image class="img" src="../../assets/suit.jpg">
    </div>
    <div fxFlex="50%">
      <img mat-card-image class="img" src="../../assets/suit.jpg">
    </div>
  </div>
</div>
