<div class="icons_menu">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>sort</mat-icon>
  </button>
  <button routerLink="/shopping-cart" mat-icon-button *ngIf="cart$ | async as cart">
    <mat-icon [matBadge]="cart.totalItemsCount" matBadgeColor="warn">add_shopping_cart</mat-icon>
  </button>
</div>
<mat-menu #menu="matMenu">
  <a
    *ngFor="let c of categories$ | async"
    mat-menu-item
    [routerLink]="['/products/']"
    [queryParams]="{ category: c.id }"
  >
    {{c.name}}
  </a>
</mat-menu>
<hr>

<div class="search">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input #query (keyup)="searchProduct(query.value)" matInput placeholder="Search products...">
    </mat-form-field>
  </form>
</div>

<div class="flex">
  <div *ngFor="let p of filteredProducts">
    <app-product-card [shoppingCart]="cart" [product]="p"></app-product-card>
  </div>
</div>

