.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  //animation: glitch 1s steps(100) infinite;

  div {
    //flex-grow: 1;
    text-align: center;
    background: #fff;
    border-radius: 2px;
    padding: 1em;
  }

  img {
    width: 350px;
  }

  h1 {
    text-align: center;
  }
}

.icons_menu {
  padding-left: 9px;
}

