.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  //animation: glitch 1s steps(100) infinite;
}

.icons_menu {
  padding: 9px;
  display: flex;
  justify-content: space-between;
}

.search {
  display: flex;
  justify-content: center;

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  }
}
