.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex > div {
  flex-grow: 1;
  text-align: center;
}

img {
  width: 500px;
}

h1 {
  text-align: center;
}

.flex > div {
  background: #fff;
  border-radius: 2px;
  padding: 1em;
}
