<div class="categories">
    <button
      mat-raised-button
      [routerLink]="['/products/']"
      *ngFor="let c of categories$ | async"
      [queryParams]="{category: c.id}"
      routerLinkActive="color-button"
    >
      {{c.name}}
    </button>
</div>

<div class="search">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input #query (keyup)="searchProduct(query.value)" matInput placeholder="Search products...">
    </mat-form-field>
  </form>
</div>

<div class="flex">
  <div *ngFor="let p of filteredProducts">
    <app-product-card [shoppingCart]="cart$" [product]="p"></app-product-card>
  </div>
</div>

