<div class="form">
  <form (ngSubmit)="onSubmit(form.value)" [formGroup]="form" class="example-form">
    <mat-card-title align="center">{{'auth_controls.title_forgot' | translate}}</mat-card-title>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="{{'auth_controls.email' | translate}}" formControlName="email">
    </mat-form-field>
    <button [disabled]="form.invalid" mat-raised-button>{{'auth_controls.reset_btn' | translate}}</button>
    <button class="login" type="button" routerLink="/login" mat-raised-button>{{'auth_controls.login_btn' | translate}}</button>
  </form>
</div>
