.images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;

  img {
    width: 35em;
    margin: 15px;
    cursor: pointer;
  }
}

@media (max-width: 414px) {

  .images {

    img {
      width: 25em;
    }
  }
}

@media (max-width: 375px) {
  .images {

    img {
      width: 22em;
    }
  }
}
