.images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;

  img {
    width: 35em;
    margin: 15px;
    cursor: pointer;
  }
}

//Iphone 6 7 8
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .images {
    img {
      width: 51vh;
    }
  }
}

//Iphone 6 7 8 PLUS
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  .images {
    img {
      width: 24em;
    }
  }
}
